

.sbar{
  display: inline;
  width: 10rem;
  float: left;
  margin-right: 2rem;   
  background-color: #f8f9fa;
  padding-top: 2%;
 
}


.logo {
  width: 100px;
}


@media (max-width: 600px) {
  .sbar {
    display: none;
  }
}

